body {
    font-family: san-serif;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.logo img {
    width: 150px;
    margin-top: 20px;
}

.image-txt {
    color: fff
}

.slidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(202, 9, 9, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 0px;
}

.slidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.slidenav a:hover {
    text-decoration: none;
}

.icon {
    float: right;
    margin: 15px 30px;
    font-size: 36px;
    color: #000;
    cursor: pointer;
}

.slidenav .closeicon {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin: 4px;
    text-decoration: none;
    color: #000;
}

.top-link a {
    text-decoration: none;
    color: white;
    word-spacing: 0px;
}

.top-link {
    background-color: black;
    color: #000;
    text-align: right;
    text-decoration: solid;
    word-spacing: 5px;
    padding: 10px;
}

.top-inner {
    margin-right: 40px;
}

.test {
    background-color: rgb(223, 195, 195);
}